/*                                                                                                              */
/*                                                                                                              */
/*                                                 @@@@@@@@@@@@@@                                               */
/*                                 @@@@@@@@@@@@@@@@@@          @@@@@@@@@@@@@@@                                  */
/*                            @@@@@@@@@@@@@      @@              @@      @@@@@@@@@@@@@                          */
/*                       @@@@@     @@@@        @@                  @@        @@@@     @@@@@                     */
/*                   @@@        @@@          @@                      @@         @@@        @@@                  */
/*                @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@               */
/*            @@@@          @@             @@                          @@            @@         @@@@            */
/*          @@@           @@              @@                            @@             @@          @@@          */
/*        @@@            @@               @@                            @@              @@           @@@        */
/*       @@                                                                                            @@       */
/*      @@                                                                                              @@      */
/*     @@            @@           @@         @@  @@           @@   @@@@@@@@@@@@  @@@        @@           @@     */
/*    @@             @@           @@         @@  @@@@       @@@@  @@@@@@  @@@@@@ @@@@@      @@            @@    */
/*    @              @@           @@         @@  @@@@@     @@@@@  @@@@@    @@@@@ @@  @@@    @@             @    */
/*    @              @@           @@         @@  @@  @@@  @@@ @@  @@@@      @@@@ @@    @@@@ @@             @    */
/*    @              @@           @@         @@  @@   @@@@@@  @@  @@@@@    @@@@@ @@      @@@@@             @    */
/*    @              @@@@@@@@@@@@ \@@@@@@@@@@@/  @@    @@@@   @@   @@@@@@@@@@@@  @@        %@@             @    */
/*    @@                                                                                                  @@    */
/*     @@                                                                                                @@     */
/*      @@              @@                @@                            @@                @@            @@      */
/*        @@             @@               @@                            @@               @@           @@        */
/*          @@            @@               @@                          @@               @@          @@          */
/*            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@            */
/*               @@@         @@@            @@                        @@            @@         @@@              */
/*                  @@@         @@           @@                      @@          @@@        @@@                 */
/*                     @@@@@      @@@          @@                  @@         @@@      @@@@@                    */
/*                          @@@@@@    @@@        @@              @@        @@@   @@@@@@                         */
/*                               @@@@@@@@@@@@@@    @@          @@    @@@@@@@@@@@@@                              */
/*                                            @@@@@@@@@@@@@@@@@@@@@@@@                                          */
/*                                                                                                              */
/*                                          ＵＮＩＴＥＤ ＩＮ 𝙎𝙀𝙑𝙀𝙍𝘼𝙉𝘾𝙀                                         */

/**
* @name base16 Discord
* @author @bypass_
* @version 0.1.0
* @description Built using Aether and Pywal
* @source https://github.com/imbypass/base16-Discord
**/

/* import the parent */
@import url('https://imbypass.github.io/base16-discord/omarchy-discord.theme.css');

:root {
    --color00: #1b2d40;
    --color01: #4d86b0;
    --color02: #5e95bc;
    --color03: #6fa4c9;
    --color04: #6fb8e3;
    --color05: #8bc9eb;
    --color06: #b4e4f6;
    --color07: #d6e2ee;
    --color08: #4A6B80;
    --color09: #73a6cb;
    --color10: #86b7d8;
    --color11: #9dcae5;
    --color12: #f2fcff;
    --color13: #b1d8ee;
    --color14: #d1eef8;
    --color15: #ffffff;
}
